<!DOCTYPE html>
<html>

<head>
	<title>Airlines</title>

	<!--<style>
	div.flights{
		text-align: center;
	}
	div.delays{
		text-align: center;
	}
	.div{
		margin:4em;
	}
	</style> -->
</head>
<body>
	<center>
		Total Flights<br>
	<svg id="totals" height="420px" width="650" style="border:1px solid;" xmlns="http://www.w3.org/2000/svg">
	  <image href="/static/map.jpg" alt="http://visitedstatesmap.com/image/xlg.jpg" height="100%" width="100%"/>
	</svg>


<br>
<input type="range" id="tmonth" value="6" min="1" max="12" step="1" onchange="update(this.value)">Month<br>
<p id="tmonthval"></p>

<input type="range" id="tyear" value="2001" min="2000" max="2005" step="1" onchange="update(this.value)">Year<br>
<p id="tyearval"></p>

<!--
<p id="tyearval"></p>
<br>
    Year<input type="number" id="tyear" value="2000" min="2000" max="2005" step="1"/><br>
    Month<input type="number" id="tmonth" value="1" min="1" max="12" step="1"/>

<div>
  <input id="totalsbutton" type="range" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
</div>
-->
		<center>
	Delays<br>
	<svg id="delays" height="420px" width="650" style="border:1px solid;" xmlns="http://www.w3.org/2000/svg">
	  <image href="/static/map.jpg" height="100%" width="100%"/>
	</svg>
	</center>

	<input type="range" id="delaysmonth" value="1">Month<br>
<input type="range" id="delaysyear" value="2000" min="2000" max="2005" step="1" type="int">Year<br>
</body>

   
	 <script src="/static/test.js"></script>
    <script src="/static/app.js"></script>
</html>
