<!DOCTYPE html>
<html>

<head>
	<script src="app.js"></script>
</head>

<body>
	<center>
		<br>
		<br>
		Total Flights<br>
	<svg id="totals" height="420px" width="650" style="border:1px solid;" xmlns="http://www.w3.org/2000/svg">
	  <image href="../images/map.jpg" height="100%" width="100%"/>
	</svg>

	<br>
	<br>
	<br>
	<br>
	
	Delays<br>
	<svg id="delays" height="420px" width="650" style="border:1px solid;" xmlns="http://www.w3.org/2000/svg">
	  <image href="../images/map.jpg" height="100%" width="100%"/>
	</svg>
	</center>
</body>

</html>
